html
  head
  title documento basico
  body
    h1 documento basico 	
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est sed minus, et modi ab exercitationem nostrum ipsam possimus officiis dicta natus nemo, nesciunt non a debitis impedit unde fuga nobis.