h2 Enlaces
a(href='http://www.google.com') Ir a Google
&nbsp; | &nbsp;
a(href='http://www.yahho.com') Ir a Yahoo
&nbsp; | &nbsp;
a(href='http://www.youtube.com') Ir a Youtube
h2 Anclas
a(name='inicio') 
a(href='#info1') ir a Informacion 1
&nbsp; | &nbsp;
a(href='#info2') ir a Informacion 2
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(href='#inicio') Ir a Inicio
h1 Informacion 1
a(name='info1')
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nisi sint illum totam est voluptas, voluptate deleniti doloribus pariatur ea blanditiis explicabo! Nobis maiores saepe facilis hic ab quos magni.
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
br
a(href='#inicio') Ir a Inicio
h1 Informacion 2
a(name='info2')
p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum nisi sint illum totam est voluptas, voluptate deleniti doloribus pariatur ea blanditiis explicabo! Nobis maiores saepe facilis hic ab quos magni.