doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Lista Ordenada
  body
    ol
      li Presionar (CTROL + SHIFT + P)
      li Escribimos "Control Package"
      li Seleccionamos "Install Package"
      li Escribimos "emmet"
      li Seleccionamos Presionando ENTER