doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title Tablas
  body
   table(border=1)
     tr
       th Nombre Completo
       th Telefono
       th Direccion
     tr
       th jeremias
       th 8911865
       th Calle 12A #10-74
     tr
       th Samantha
       th 8911865
       th Calle 63 # 35-24
     tr
       th Santiago
       th 8820588
       th Carrera 11 #28-23