doctype
html(lang="en")
head
  meta(charset="UTF-8")
  title secciones tablas
body
  table(border=1)
    tfoot
      tr
        td(colspan=3) Informacion de Usuario
      thead
        tr
          th Nombres
          th Titulacion
          th Año
       tbody
         tr
           td Daniel
           td ADSI
           td 2018
         tr
           td Felipe
           td Ingeniero Informatico
           td 2015
         tr
           td Santiago
           td Parbulos A
           td 2016
           
  