doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Documento HTML 5
  body
    h1 Documento HTML 5
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore vero optio voluptatibus perferendis blanditiis facere. Ipsam accusamus laborum sint ullam, quam assumenda delectus ducimus voluptatum, aut, mollitia fugit, deserunt quas. Corporis perferendis harum, nihil delectus, voluptates consequatur. Error officia eveniet ut corrupti dolorem optio delectus adipisci quasi libero eius? Id, corrupti, distinctio. Voluptate dolore, illo quo saepe eos? Et debitis corporis, harum, explicabo quos quasi quod quo id sequi quia autem ipsam atque eius natus rerum. Quis quae sint soluta reprehenderit beatae nesciunt sed accusamus facere inventore tempore, id aut, voluptatem, corporis, aliquam hic in sit tenetur magni distinctio minima?