doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Tipos de Entradas (Formulario)
  body
    h1 Tipos de Entradas (Formulario)
    hr
    form(method='post')
      // Color ----------------------
      label(for='color') Color:
      input(type='color', id='color')
      br
      br
      // Date ----------------------
      label(for='date') Fecha:
      input(type='date', id='date')
      br
      br
      // Email ----------------------
      label(for='email') Correo Electrónico:
      input(type='email', id='email')
      br
      br
      // Month ----------------------
      label(for='month') Mes:
      input(type='month', id='month')
      br
      br
      // Number ----------------------
      label(for='number') Numero:
      input(type='number', id='number')
      br
      br
      // Range ----------------------
      label(for='range') Rando:
      input(type='range', id='range')
      br
      br
      // Search ----------------------
      label(for='search') Buscar:
      input(type='search', id='search')
      br
      br
      // Time ----------------------
      label(for='time') Tiempo:
      input(type='time', id='time')
      br
      br
      // URL ----------------------
      label(for='url') Dirección de Internet:
      input(type='url', id='url')
      br
      br
      // Week ----------------------
      label(for='week') Semana:
      input(type='week', id='week')
      br
      br
      input(type="submit", value="Enviar")
    
    
  

    