article {
  border-color: #628742;
  border-style: solid;
  height: 250px;
  width: 350px;
}
article.box1 {
/* Ancho de Bordes - Forma Larga */
  border-top-width: thin;
  border-right-width: 20px;
  border-bottom-width: thick;
  border-left-width: medium;
/* Ancho de Bordes - Forma Corta */
  border-width: thin 20px thick medium;
}
article.box2 {
/* Colores Bordes - Forma Larga */
  border-top-color: #ff0;
  border-right-color: #00f;
  border-bottom-color: #f00;
  border-left-color: #f0f;
/* Colores Bordes - Forma Corta */
  border-color: #ff0 #00f #f00 #f0f;
}
article.box3 {
/* Estilos Bordes - Forma Larga */
  border-top-style: solid;
  border-right-style: dotted;
  border-bottom-style: dashed;
  border-left-style: double;
/* Estilos Bordes - Forma Corta */
  border-style: solid dotted dashed double;
}
article.box4 {
/* Bordes - shorthand */
  border: 10px dotted #9b62b9;
}
