doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title codigo (jade)
  body
    h1 Alumnos (jade)
    - for (var i = 0; i <= 6; i++)
      li Alumno #{i}
      
     //Bloque
    br
    -
     list =["Daniel", "Santiago"]
   each item in list
    li= item 
  
  
   
 
  