doctype
html(lang="en")
  head
    meta(charset="UTF-8")
    title condicional (jade)
  body
   h1 condicional (jade)
   - var edad = 19 
   - var genero = 'F'
   if edad < 18
     h2 usted es menor de edad
   else
     h2 usted es mayor de edad
     if genero =='F'
     h3 y no puede prestar servicio

   
 
  
  
  
    
  
  
  