doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title Texto sin formato
    body
      | Plain text can include <strong>html</strong>
      p
        | It must always be on its own line
      

      