doctype
html(lang="es")
  head
    meta(charset="UTF-8")
    title etiqueta
    body
      ul
        li Item A
        li Item B
        li Item C
      br
      br
      img(src='http://www.italiatech.net/es/wp-content/uploads/sites/3/2016/04/provavespa.jpg')
      
      

      