div.ball {
  background: radial-gradient(#f60000, #820000);
  border-radius: 50%;
  height: 120px;
  width: 120px;
  animation: 4s animBall infinite;
}
@-moz-keyframes animBall {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1000px, 0px);
  }
  50% {
    transform: translate(1000px, 500px);
  }
  75% {
    transform: translate(0px, 500px);
  }
}
@-webkit-keyframes animBall {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1000px, 0px);
  }
  50% {
    transform: translate(1000px, 500px);
  }
  75% {
    transform: translate(0px, 500px);
  }
}
@-o-keyframes animBall {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1000px, 0px);
  }
  50% {
    transform: translate(1000px, 500px);
  }
  75% {
    transform: translate(0px, 500px);
  }
}
@keyframes animBall {
  0% {
    transform: translate(0px, 0px);
  }
  25% {
    transform: translate(1000px, 0px);
  }
  50% {
    transform: translate(1000px, 500px);
  }
  75% {
    transform: translate(0px, 500px);
  }
}
