

// Selector (comentario de una sola linea)

section
	border 1px solid #ccc
	height 200px
	margin 20px auto
	width 300px
	transition all 0.5s ease-in
	
/*
	Evento hover
	Bloque con varias lineas de comentarios
*/	
section:hover
	transform scale(1.2)
	
/*!
 Este tipo de comentario si aparece cuando el archivo
 compilado es comprimido.
*/	
	