section
	background-color #75f5d1
	border 2px solid #46957f
	height 200px
	width 200px
	/* Relleno Forma Larga */
	padding-top 50px
	padding-right 25px
	padding-bottom 20px
	padding-left 80px
	/* Relleno Forma Corta */
	margin 50px 25px 20px 80px
section span
	border 2px dotted #46957f
	background-color #fff