body
	/* shorthand: forma corta */
	background #000 url(../imgs/fondo.jpg) no-repeat center center fixed
	font 16px Arial
	color #fff
	line-height 30px
	padding 50px
	text-align justify

p
	background-color rgba(0, 0, 0, .6)
	padding 40px